# Node
backend/node_modules/
backend/dist/
# JDK (если ещё остался)
backend/src/requests/oracleJdk-26/

# Flutter
frontend/.dart_tool/
frontend/build/
frontend/android/.gradle/
frontend/android/local.properties
frontend/.flutter-plugins-dependencies
